.candidateCard {
  width: 36rem;
  padding: 2rem;
  margin: 2rem 4rem 2rem 0;
  background-color: #fdfdfd;
  box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.cardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.topRightIcon {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: auto;
}

.header {
  font-size: 2rem;
  color: var(--grayDark);
  margin: 0;
}

.header:hover {
  text-decoration: underline;
  cursor: pointer;
}

.subheader {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray-medium);
  margin: 0.5rem 0;
}

.description {
  font-size: 1.4rem;
  color: var(--gray-medium);
  margin-bottom: 2rem;
  overflow: auto;
  text-overflow: ellipsis;
}

.horizontalLine {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labelContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.associationLabel {
  background-color: var(--blue-lighter);
  border-radius: var(--tag-radius);
}

.label {
  background-color: var(--label-color);
  border-radius: var(--tag-radius);
}

.savedBookmark {
  fill: black;
}
